@import 'fonts';
@import 'normalize';
@import 'variables';

$full-width: $phone-width + 1;

html, body {
  font-family: "LLAkkuratWeb-Light", Helmut, Helvetica, Arial, sans-serif;
  color: #424242;
}

.header {
  text-align: center;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.center-big {
  font-size: 60px;
  width: 100%;
  font-weight: normal;
  text-align: center;
  margin-bottom: 140px;
}

.logo {
  width: 140px;
  height: 140px;
  background-image: url('/images/logo-green.png');
  background-size: 100%;
  margin-top: 15px;
}

.blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  max-width: 1050px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

  @media (min-width: $full-width) {
    width: 100%;
  }

  @media (max-width: $phone-width) {
    width: 320px;
  }
}

.block {
  min-height: 260px;
  height: 260px;
  background-color: #00b2a9;
  color: #fff;
  padding: 30px;

  flex-basis: 260px;
  align-self: auto;

  margin: 15px;

  -o-transition:0.5s;
  -ms-transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  transition:0.5s;

  h3 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  &:link, &:visited, &:active {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    background-color: #018d85;
  }
}

.block-harvest {
  background-color: #00b2a9;

  &:hover {
    background-color: #018d85;
  }
}

.block-job-board {
  background-color: #7fade3;

  &:hover {
    background-color: #5c8cc4;
  }
}

.block-webhooks {
  background-color: #62B2c4;

  &:hover {
    background-color: #448fa0;
  }
}

.block-candidate-ingestion {
  background-color: #C67F90;

  &:hover {
    background-color: #A15F6F;
  }
}

.block-take-home-test {
  background-color: #4AAAD3;

  &:hover {
    background-color: #3086AA;
  }
}

.footer {
  width: 80%;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 1050px;

  .footer-logo {
    background-image: url('/images/logo-footer.png');
    width: 137px;
    height: 35px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;

    @media (min-width: $full-width) {
      float: left;
    }

    @media (max-width: $phone-width) {
      float: none;
      margin-left:auto;
      margin-right:auto;
    }
  }

  hr {
    width: 100%;
    margin-bottom: 20px;
  }



  .footer-links {
    color: #424242;
    font-size: 16px;
    padding: 0;

    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      color: #424242;
    }

    li {
      list-style-type: none;
    }

    @media (min-width: $full-width) {
      float: right;

      li {
        display: inline;
        padding-right: 10px;
      }

      li:before {
        content: '\007C\00a0\00a0\00a0';
      }

      li:first-child:before {
        content: '';
      }
    }

    @media (max-width: $phone-width) {
      li {
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
      }

      li:before {
        content: '';
      }
    }
  }
}

